body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #818181;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

ul {
  list-style: none;
  padding: 1;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #041153;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
