body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  margin-left: 3%;
}

.nav-links-left {
  display: flex; /* Change to flex to align links horizontally */
  align-items: center; /* Vertically center the links */
}

.nav-link-container {
  margin-right: 20px; /* Add margin between each link */
}

.nav-links-right {
  margin-left: auto;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 23px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 2%;
  margin-left: -5%;
}

.login-btn,
.register-btn,
.learn-btn {
  padding: 8px 16px;
  background-color: #ffffff;
  border: 2px solid transparent;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px; /* Add margin between buttons */
}

.login-btn:hover {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 15px;
}

.register-btn:hover {
  background-color: #ffffff;
}
.register-btn {
  border: 2px solid black;
  border-radius: 12px;
}

.learn-btn:hover {
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  color: #000000;
}
.learn-btn {
  border: 2px solid rgb(253, 253, 253);
  color: #ffffff;
  background-color: #000;
  border-radius: 12px;
}

/* Additional styles for dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 3%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.arrow-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.dropbtn.active .arrow-icon {
  background-image: url("images/icon-arrow-down.svg");
}

/* Cards */
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.card .description {
  padding: 15px;
  max-width: 100%;
  margin-left: 10.1%;
  margin-top: 5%;
  color: #575757;
}

.card .description h1 {
  position: absolute;
  left: 15px;
  top: 15px;
  margin-top: 14.5%;
  margin-left: 11%;
  font-size: 59px;
  color: #000;
}

.card img {
  width: 30%;
  height: auto;
  margin-right: 8%;
  margin-top: 1%;
}

/* Adjust spacing between icon and label in dropdown */
.dropdown-content img {
  margin-right: 10px;
}

.dropdown-content.company-dropdown {
  left: 38.5px;
}
.nav-link-container {
  margin-right: 1px; /* Reduce the margin between each link */
}
footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.icon-container {
  display: flex;
  margin-left: 12.1%;
  margin-top: -5%;
}

.icon-container img {
  width: 60px; /* Adjust the size as needed */
  margin: 0 10px; /* Adjust the margin between icons */
  height: 100%;
  opacity: 100%;
}
